body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #059aea;
    background-image: url(OIP.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.glass-card {
    width: 270px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.251);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(12, 8, 234, 0.2);
    overflow: hidden;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(85, 72, 72, 0.08);
}
.loading{
width: 150px;
height: 150px;
margin-top: 15px;
margin-left: 55px;
background-image: url(wp6599912.jpg);
background-position: center;
background-size: cover;
border-radius: 50%;
animation: rotate 5s linear infinite;
}
@keyframes rotate {
from{
    transform: rotate(0deg);
    box-shadow: 2px 2px 2px red;
}
to{
    transform: rotate(360deg);
    box-shadow: 2px 2px 2px blue;
}

}
marquee{
    position: absolute;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    margin-top:75px ;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.audio-player {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 150px;
    margin-top: 120px;
    margin-left: 40px;
    padding: 20px;
    border-radius: 5px;
    background-color:transparent;
}
.audio-controls {
    display: flex;
    align-items: center;
    justify-content: center;
}
button {
    margin: 0 5px;
    border: none;
    background-color:transparent;
    color: black;
    cursor: pointer;
}
button:hover {
    color: azure;
}
.timeline {
    width: 100%;
    height: 2px;
    background-color:black;
    position: relative;
    margin-top: 10px;
    border-radius: 3px;
}

.timeline-progress {
    height: 100%;
    background-color:whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
}
.vertical-slider {
    /* display: none; */
    height: 25px;
    width: 80px;
    margin-left: 180px;
   position: absolute;
    transform: rotate(270deg);
    color:blue;
}

.volume-tooltip {
    position: absolute;
    top: -30px; 
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: none;
}
.volume{position: relative;}

.volume:hover .volume-tooltip {
    display: block;
}


